---
- hosts: all
  become: yes
  gather_facts: no
  vars:
    ansible_python_interpeter: /usr/bin/python3
  tasks:
    - import_tasks: base.yml
    - import_tasks: prosody.yml
    - import_tasks: database.yml
    - import_tasks: p2.yml
  handlers:
    - import_tasks: handlers.yml
