[Unit]
Description=Snikket Push Proxy

[Service]
User=p2
Group=p2
ExecStart=/usr/lib/jvm/adoptopenjdk-8-hotspot-amd64/bin/java -jar /opt/p2/p2.jar -c /etc/p2/p2.conf
Environment="JAVA_HOME=/usr/lib/jvm/adoptopenjdk-8-hotspot-amd64"

[Install]
WantedBy=multi-user.target
